/* Grunddesign */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #f2f2f2);
    color: white;
}

/* Header */
header {
    background: linear-gradient(135deg, #f9f9f9, #dcdcdc);
    padding: 60px 20px;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header h1 {
    margin: 0;
    font-size: 50px;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}

/* Buttons */
.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: darkgrey;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.buttons a:hover {
    background: black;
    color: grey;
}

/* Sections */
.card {
    max-width: 900px;
    margin: 40px auto;
    background: linear-gradient(135deg, #f9f9f9, #dcdcdc);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: black;
}

h2 {
    color: grey;
}

/* Liste */
ul {
    line-height: 1.8;
}

/* Zeugnisse */
.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery img {
    width: 900px;
    border-radius: 10px;
    border: 2px solid #333;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Lebenslauf */
.lebenslauf {
    display: flex;
    gap: 10px;
    flex-wrap: wrap:
}

.lebenslauf img {
    width: 900px;
    border-radius: 10px;
    border: 2px solid #333;
    transition: 0.3s;
}

.lebenslauf img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #f9f9f9, #dcdcdc);
    margin-top: 50px;
    opacity: 0.8;
    color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
